node_modules
dist
coverage
npm-debug.log
.env
.env.*
!.env.example
.git
.gitignore
.github
.vscode
.idea
*.md
storage/uploads/*
storage/thumbs/*
!storage/uploads/.gitkeep
!storage/thumbs/.gitkeep
test
Dockerfile
docker-compose.yml
.dockerignore
